<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="projects">
        <h2> Projects</h2>
        <div class="cards">
          <% data.projects.each do |project| %>
            <div class="card-trip">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
              <div class="card-trip-infos">
                <div>
                  <h2> <%= project.name %> </h2>
                  <p>Short description here!</p>
                </div>
                <h2 class="card-trip-pricing">£99.99</h2>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
