<div class="row my-5 shadow p-5 mb-5 bg-body rounded" id="projects">
  <div class="col-12">
    <div class="container">
      <div id="projects">
        <h2 class="text-center mb-4"> Projects</h2>
        <div class="cards">
          <% data.projects.each do |project| %>
            <div class="card-trip rounded">
              <%= image_tag project.image, alt: "text" %>
              <div class="card-trip-infos">
                <div>
                  <%= link_to project.name,  project.url, target:"_blank" %>
                  <p> <%= project.description %> </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
