// Specific CSS for your home-page
body {
  // background: black;
  background-image: url("https://wallpaperaccess.com/full/5651978.png");
  background-size:cover
  // background-image:url('../source/images/background.png');
}

p {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}
